@{
  Layout = "_Layout";
}

@model DoctorPatient.Models.Patient

<h3>Add a Patient</h3>

@using (@Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Birthdate)
  @Html.TextBoxFor(model => model.Birthdate)

  <input type="submit" value="Add a patient" />
}

<p>@Html.ActionLink("Back to Patients", "Index")</p>