@{
      Layout = "_Layout";
}

@model DoctorPatient.Models.Patient
@using DoctorPatient.Models

<h2>See Patient details</h2>

<p>Name: @Html.DisplayFor(model => model.Name)
</p>
<p>Birthdate: @Html.DisplayFor(model => model.Birthdate)</p>

@if (@Model.JoinEntities.Count == 0)
{
      <p>There are no doctors associated with this patient</p>
}
else
{
      <p>There are doctors associated with this patient:</p>
      foreach (DoctorPatientJoin entry in @Model.JoinEntities)
      {
            <h3>@entry.Doctor.Name</h3>
            @using (Html.BeginForm("DeleteJoin", "Patients"))
            {
                  @Html.Hidden("doctorPatientJoinId", @entry.DoctorPatientJoinId)
                  <input type="submit" value="Delete doctor" />
            }
      }
}

<p>@Html.ActionLink("Add a doctor", "AddDoctor", new { id = @Model.PatientId })</p>
<p>@Html.ActionLink("Go back", "Index")</p>