@{
    Layout ="_Layout";
}

@model DoctorPatient.Models.Doctor

<h1>Add a Doctor</h1>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
     @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty)
    <input type ="submit" value="Add Doctor" />
}
<hr />

<p>@Html.ActionLink("Back to Doctors", "Index")</p>